/* index.html CSS */

html
{
	height: 100%;
}

body
{
	background-color: grey;
	height: inherit;
	animation-name: main_bg;
	animation-duration: 3s;
	animation-iteration-count: 1;
}

ul 
{
  list-style-type: none;
  margin: 5px;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li 
{
  float: right;
}

li a 
{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover 
{
  background-color: #111111;
}

.center 
{
	display: block;
	margin: 10px auto;
}

@keyframes main_bg
{
	0% {background-color: green;}
	33% {background-color: yellow;}
	66% {background-color: blue;}
	100% {background-color: grey;}
}

/*#navbar
{
	text-align: center;
}*/


/* register.html CSS */

input, select 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] 
{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover 
{
  background-color: #45a049;
}

#register_form 
{
	width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: auto;
  padding: 20px;
}